@import "./variables";

@import "./card";

.title-main {
    margin-top: 20px;
    font-size: $title;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    &_nm {
        margin-top: 0;
    }
    &_primary {
        color: $primary;
    }
}

.btn-large {
    max-width: 400px;
    width: 100%;
    margin-top: 15px !important;
    & .v-btn__content {
        font-size: 20px;
    }
}

.app-tabs {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    text-transform: none;
    .app-tabs__item {
        max-width:unset;
        width: 100%;
    }

    & .v-tabs__div {
        max-width: 400px;
    }
    & .v-tabs__slider {
        height: 5px;
    }
}